.navbar-toolbox {
    display: table-cell;
    width: auto;
    vertical-align: middle;
}

.btn-group {
    position: relative;
    display: inline-block;
    float: none;
    vertical-align: middle;
    width: auto;
    margin-left: 10px;
}

.navbar-toolbox-wrapper {
    position: relative;
    white-space: nowrap;
    float: right;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
