<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<!--<appSettings>
		<add key="parentTable" value="Manga"/>
		<add key="parentPK" value="ID"/>
		<add key="childTable" value="MangaCover"/>
		<add key="childFK" value="Manga"/>
		<add key="server" value="(localdb)\MSSQLLocalDB"/>
		<add key="database" value="MangaDB"/>
	</appSettings>  -->

	
	<appSettings>
		<add key="parentTable" value="Plane"/>
		<add key="parentPK" value="ID"/>
		<add key="childTable" value="Passenger"/>
		<add key="childFK" value="Plane"/>
		<add key="server" value="(localdb)\MSSQLLocalDB"/>
		<add key="database" value="PlaneDB"/>
	</appSettings>
</configuration>