<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="database"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MangaDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<appSettings>
		<add key="MainTable" value="Manga"/>
		<add key="SecondaryTable" value="MangaCover"/>
		
		<add key="SelectMainQuery" value="SELECT * FROM Manga"/>
		
		<add key="SelectSecondaryQueryID" value="@mangaID"/>
		<add key="SelectSecondaryQuery" value="SELECT * FROM MangaCover WHERE Manga=@mangaID"/>

		<add key="DeleteSecondaryQueryID" value="@coverID"/>
		<add key="DeleteSecondaryQuery" value="DELETE FROM MangaCover WHERE ID=@coverID"/>

		<add key="MainFieldCount" value="5"/>

		<add key="SecondaryFieldCount" value="3"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>